body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.bg{
	background: url('img/bg.jpg');
    background-size: cover;
    position: fixed;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    -webkit-filter: blur(15px);
            filter: blur(15px);
    z-index: -1;
}
.mask {
    width: 80px;
    height: 80px;
    margin-top:10px;
    background-image: url('img/u.jpg');
    background-size: cover;
    border-radius: 15px;
}
p{
    margin: 0;
    padding: 0;
}

.flex-container {
    background-size: 100% 100%;
    background-attachment: fixed;
}

.center {
	border-color:#fff;
	float:left;
    display: block;
    border-radius: 7px;
}

.button1 {
    margin: 10px auto 10px;
	background-color:#fff;
	color:#0f0f0f;
    width: 100px;
    padding: 4px;
    border-radius: 7px;
    border-color: :#0f0f0f;
}

.node {
    height: 10px;
    cursor: auto;
    text-align: center;
}

.node circle {
    stroke-width: 3px;
}

.node rect {
    fill: black;
    stroke:rgb(238, 245, 145);
    stroke-width: 2px;
    text-align: center;
}

.node text {
    
}

.link {
    fill: none;
    stroke:#fff;
    stroke-width: 2px;
}

#title {
    text-align: center;
    font-family: "微软雅黑";
    font-size: 25px;
    color:#fff;
    line-height: 50px;
}